body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
}


/* DAVID */

/* navbar_changes */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

/* .navbar-toggler {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} */

.size-image-c{
    height: 100vh;
    object-fit: cover;
}

a:hover {
    filter: blur(1px);
    transition: 1s;
}

.sombra {
    text-shadow: 2px 2px 8px #2d2d2d;
}