body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
}


/* DAVID */

/* navbar_changes */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

/* .navbar-toggler {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} */

.size-image-c{
    height: 100vh;
    object-fit: cover;
}

a:hover {
    filter: blur(1px);
    transition: 1s;
}

.sombra {
    text-shadow: 2px 2px 8px #2d2d2d;
}


/* BORJA */


  #contenedor {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  #imagen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }

  .contenedor-imagenes {
    display: flex;
  }

  .imagen-reducida {
    width: 720px; /* Ajusta el tamaño según tus preferencias */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 0px; /* Espacio entre las imágenes, ajusta según tus preferencias */
  }

